body {
	padding-top: 60px;
}

#start {
	text-align: center;
}

svg {
	display: block;
	margin: 0 auto;
}

@font-face {
	font-family: 'Ultra';
	src: url('../fonts/ultra.svg#ultra') format('svg');
}

.menu-text {
	text-shadow: 0 0 5px #FFFFFF;
}