body {
	padding-top: 40px;
}

.container-fluid {
	padding: 0 10px;
}

.hero-unit {
	margin: 10px auto;
	padding: 0 0;
}

h1 {
	position: absolute;
	padding: 60px 60px;
	margin-top: 0;
}

#headlines {
	position: absolute;
}

.head {
	padding: 20px 20px 10px 20px;
}

/*TODO: factor out colors into palette*/
.unit-head {
	margin-top: 30px;
	margin-bottom: 20px;
	padding: 7px 0px;
	border: 3px solid #DCDCDC;
	border-radius: 5px;
	text-align: center;
	background-color: #D9EDF7;
}

#unit-buttons {
	padding-top: 25px;
	padding-bottom: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

form {
	padding: 60px 60px;
}

#start {
	text-align: center;
}

svg {
	display: block;
	margin: 0 auto;
}

/*TODO: comment out in production; just to view borders of #inner SVG*/
#show {
	fill: black;
	opacity: 0.1;
}

.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.axis text, .txt {
	font-family: sans-serif;
	font-size: 12px;
}

.lbl {
	font-family: sans-serif;
	font-size: 14px;
	font-weight: bold;
}

.bar:hover {
	opacity: 0.5;
	stroke: gold;
	stroke-width: 3;
}

@font-face {
	font-family: 'ChunkFive';
	src: url('../fonts/chunkfive.svg#ChunkFive-Roman') format('svg');
}

.glow .menu-text {
	text-shadow: 0 0 5px #FFFFFF;
}

#dexcom-offset {
	text-align: center;
}

#img {
	padding-top: 135px;
	position: absolute;
}

img {
	border-style: solid;
	border-width: 10px;
	border-color: transparent;
   	-webkit-box-shadow: 0 0 10px #000000;
}

/* prevent scrollbars from appearing on loading window */
#loading {
	overflow: hidden;
}

#beach_ball {
	position: absolute;
	padding: 20px 60px;
	bottom: 10px;
	right: 30px;
}